
<web-app>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.neoteric.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.neoteric.HelloWorldServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.neoteric.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.neoteric.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>

  <!-- Filter Configuration for Security -->
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.neoteric.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>
</web-app>